header {
  padding: 8px 5% 20px 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

body {
  background-color: rgb(17, 14, 21);
  color: whitesmoke;
}

h1 {
  text-align: center;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 1.4px solid rgba(176, 176, 176, 0.822);
  border-radius: 3px;
  margin: 3px 3px;
  font-size: 1.2rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Helvetica, monospace, sans-serif;
  font-weight: 0;
}

.filled-box {
  border: 1.4px solid rgb(52, 47, 59);
}

.letter-row {
  display: flex;
}

/* KEYBOARD */

#virtual-keyboard {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#virtual-keyboard div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.vi-keyboard-button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 0.8rem;
  margin: 0 2px;
  background-color: rgb(33, 31, 39);
  color: whitesmoke;
  border: 1px solid rgb(57, 55, 66);
  border-radius: 1px;
  cursor: pointer;
  text-transform: uppercase;
}


.vi-keyboard-button:hover {
  transition: 0.2s;
  border: 1px solid rgba(57, 55, 66, 0.358);
  background-color: rgba(33, 31, 39, 0.16);
}

@media (max-width: 510px) {
  .vi-keyboard-button {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0.2rem 0.35rem;
  }
}

/***** Results Pop Up ***********/

.results {
  display: none;
}

.results-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.425)
}

.results-stats {
  width: 330px;
  height: 250px;
  padding: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  background: rgb(32, 32, 36);
  border-radius: 6px;
  transform: translate(-50%, -50%)
}

.results-stats .head {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head .title {
  margin-left: 10px;
  font-family: monospace;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.head .close {
  font-family: arial;
  font-weight: 100;
  color: rgb(99, 99, 99);
}

.results-stats .blocs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.blocs .bloc {
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 70px;
  height: 70px;
  background-color: rgb(49, 54, 59);
  border-radius: 8px;
  color: rgb(237, 228, 43);
}

.bloc .value
{
  font-family: monospace;
  font-size: 26px;
  font-weight: bold;
}

.bloc .label
{
  font-family: monospace;
  color: white;
}

.play-button
{
  margin-top: 50px;
  height: 46px;
  width: 50%;
  padding-left: 2%;
  padding-right: 2%;
  font-family: monospace;
  font-size: 20px;
  font-weight: 700;
  color: whitesmoke;
  background-color: rgb(57, 63, 67);
  border: none;
  box-shadow: 3px 3px 1px rgba(49, 49, 49, 0.849);
  border-radius: 3px;
  cursor: pointer;
}


.play-button:hover
{
  transition: 0.2s;
  background-color: rgb(47, 51, 53);
}